/* general properties */

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

.header-content {
    margin: 20px;
    justify-content: space-around;
}

.nav-li {
    margin-left: 50px;
}

.nav-li a {
    color: #000;
    font-family: "Poppins extra bold", sans-serif;
}

.call-content {
    width: 27px;
    height: 27px;
    border: solid 2px #5EB6E1;
    padding: 5px;
    border-radius: 50%;
    margin-right: 7px;
}

/* entry section */

.entry-section {
    width: 100%;
    height: 500px;
    background-image: url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.title,
.start-text {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    opacity: 0.75;
    line-height: 50px;
}

.title {
    font-size: 36px;
    width: 500px;
}

.social-icon {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.icon {
    width: 25px;
    height: 45px;
    background-color: #fff;
    border-top: solid 2px #5EB6E1;
}

.get-started-button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: #5EB6E1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*  abonnements types */

.abonnements-content {
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abonnements {
    width: 300px;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classic {
    background-image: url('../img/classic.jpg');    
}

.standard {
    background-image: url('../img/standard.jpg');
}

.premium {
    background-image: url('../img/premium.jpg');
}

.abonnements h2 {
    color: #fff;
    text-transform: capitalize;
    line-height: 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.abonnements p {
    color: #fff;
    text-transform: capitalize;
    line-height: 25px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.abonnements button {
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.classic button {    
    background-color: #FF6C2C;
}

.standard button {    
    background-color: #945B9F;
}

.premium button {    
    background-color: #5EB6E1;
}