@import '../modules/variables.scss';
@import '../modules/mixins.scss';
@import '../modules/classes.scss';

body {
    header {
        margin: 20px;
        div {
            @include d-flex(row, space-around, center);
            nav {
                ul {
                    @include d-flex(row, center, center);
                    li {
                        margin-left: 50px;
                        a {
                            color: $blackColor;
                            font-family: $popinsBold;
                        }
                    }
                }
            } 
            .call-content {
                div {
                    @include dimensions(27px, 27px);
                    @include border(solid, 2px, $blueColor);
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 7px;
                }
            }
        }
    }
    .entry-section {
        @include dimensions(100%, 550px);
        background-image: url('../img/header-image.jpg');
        background-position: center;
        background-size: cover;
        position: relative;
        .text-box {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(0, -50%);
            h4 {
                text-transform: capitalize;
                font-family: $popins;
                color: $whiteColor;
                opacity: 0.75;
                line-height: 50px;
            }
            h1 {
                text-transform: capitalize;
                font-family:  $popins;
                color: $whiteColor;
                opacity: 0.75;
                line-height: 50px;
                font-size: 36px;
                width: 500px;
            }
            button {
                @include dimensions(150px, 40px);
                margin-top: 20px;
                background-color: $blueColor;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .social-icons {
            position: absolute;
            bottom: 20px;
            left: 0;
            div {
                @include dimensions(25px, 45px);
                background-color: $whiteColor;
                border-top: solid 2px  $blueColor;
                @include d-flex(column, center, center);
            }
        }
    }
    section {
        .abonnements-content {
            width: 80%;
            margin: 50px auto;
            @include d-flex(row, space-between, center);
            .abonnements {
                @include dimensions(400px, 190px);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;                
                margin-right: 20px;
                @include d-flex(column, center, center);
                &:last-child {
                    margin-right: 0;
                }
                h2 {
                    color: $whiteColor;
                    text-transform: capitalize;
                    line-height: 25px;
                    font-size: 18px;
                    font-family: $popins;
                }
                p {
                    color: $whiteColor;
                    text-transform: capitalize;
                    line-height: 25px;
                    font-size: 12px;
                    font-family: $popins;
                }
                button {
                    width: 80px;
                    padding: 5px;
                    margin-top: 10px;
                    border: none;
                    cursor: pointer;
                    color: $whiteColor;
                }
                .classic-button {
                    background-color: $orangeColor;
                }
                .standard-button {
                    background-color: $purpleColor;
                }
                .premium-button {
                    background-color: $blueColor;
                }
            }
            .classic {
                background-image: url('../img/classic.jpg');   
            }
            
            .standard {
                background-image: url('../img/standard.jpg');
            }
            
            .premium {
                background-image: url('../img/premium.jpg');
            }
        }
    }
    .about-us-container {
        margin: 150px 0;
        .about-us-content {
            width: 85%;
            margin: 50px auto;
            @include d-flex(row, space-between, center);
            .about-us-text {
                width: 40%;
                .about-us {
                    color: #FF6C2C;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-family: $popins;
                    letter-spacing: 5px;
                    line-height: 30px;
                }
                .about-us-title {
                    text-transform: capitalize;
                    font-size: 32px;
                    font-family: $popins;
                    line-height: 60px;
                    &::after {
                        content: '';
                        display: block;
                        border-bottom: solid 2px $blueColor;
                        width: 150px;
                    }
                }
                .about-us-text-color {
                    color: $orangeColor;
                }
                .about-us-p {
                    font-family: $popins;
                    font-size: 16px;
                    margin: 30px 0;
                }
                .read-more {
                    @include dimensions(200px, 50px);
                    background-color: $blueColor;
                    padding: 10px;
                    font-family: $popins;
                    border:  none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            .about-us-images-outside-container {
                @include d-flex(row, flex-end, center);
                .about-us-image {
                    width: 250px;
                    margin: 20px;
                }
                .about-us-images-container {
                    @include d-flex(column, center, center);
                }
            }
        }
    }
    .our-classes-container {
        background-color: $darkGrayColor;
        .our-classes-content {
            @include d-flex(column, center, center);
            .our-classes-text-container {
                @include d-flex(column, center, center);
                padding: 60px 20px;
                h3 {
                    color: $whiteColor;
                    font-family: $popins;
                    line-height: 35px;
                    font-size: 24px;
                    &::after {
                        width: 60px;
                        content: '';
                        display: block;
                        border-bottom: solid 2px $blueColor;
                        margin: 10px auto 30px auto;
                    }
                }
                p {
                    width: 60%;
                    color: $whiteColor;
                    font-family: $popins;
                    font-size: 14px;                   
                    text-align: center;
                    line-height: 25px;
                }
            }
            .our-classes-images-container {
                width: 100%;
                @include d-flex(row, center, center);
                flex-wrap: wrap;
                .our-class-image-content {
                    width: 33.2%;
                    position: relative;
                    img {
                        width: 100%;
                    }
                    div {
                        width: 100%;
                        height: 70px;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(19, 25, 26, 0.68);
                        @include d-flex(row, center, center);
                        span {
                            color: #fff;
                            font-family: 'Poppins', sans-serif;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

