// colors
$blueColor: #5EB6E1;
$purpleColor: #945B9F;
$orangeColor: #FF6C2C;
$whiteColor: #fff;
$lightGrayColor: #BBBBBB;
$darkGrayColor: #24272E;
$blackColor: #000;

// font-size
$size12: 12px;
$size24: 24px;
$size30: 30px;
$size44: 44px;

// font
$popins: 'Poppins', sans-serif;
$popinsBold: "Poppins extra bold", sans-serif;